* { margin:0; padding:0; } /* to remove the top and left whitespace */

html, body { height: 100%; } /* just to be sure these are full screen*/

canvas {
	display: block;
	margin: auto;
	width: 300px;
	height: 700px;
	z-index: 100;
}
